/* Write your CSS here */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 24px;
}

.conatiner {
  text-align: center;
  border-radius: 12px;
  padding: 24px;
}

.dark-mode {
  background-color: black;
  color: white;
}
.light-mode {
  color: black;
  background-color: white;
}

.heading {
  font-family: roboto;
  font-size: 32px;
}
.button {
  font-size: 16px;
  border: none;
  padding: 16px;
  border-radius: 8px;
}
